- content_for :title do
  = link_to @deploy.project_name, project_path(@deploy.project)
  \/
  = @deploy.branch_name
  @
  = link_to @deploy.short_identifier, @deploy.build
  to
  = link_to @deploy.cluster_name, @deploy.cluster

%h2= yield :title

#status= @deploy.status

- if @deploy.completed?
  = link_to "Deploy output", @deploy.raw_log_url
