- content_for :title do
  = link_to @build.project.name, project_path(@build.project)
  \/
  = @build.branch_name
  @
  = @build.short_identifier

%h2= yield :title

#status= @build.status

%pre= @build.output
