- content_for :title, @project.name

%h3= yield :title

%h4 Latest Builds

- unless @builds.any?
  No Builds

- @builds.each do |build|
  %div[build]
    = link_to build.short_identifier, build
    on
    = link_to build.branch_name, build.branch
    == (#{build.status})

%h4 Latest Deploys

- unless @deploys.any?
  No Deploys

- @deploys.each do |deploy|
  %div[deploy]
    = link_to deploy.build.short_identifier, deploy.build
    on
    = link_to deploy.build.branch_name, deploy.build.branch
    to
    = link_to deploy.cluster.name, deploy.cluster
    == (#{deploy.status})

%h4 Latest Branches

- unless @branches.any?
  No Branches

- @branches.each do |branch|
  %div[branch]
    = link_to branch.name, branch
    == (#{branch.current_status})

%h4 Clusters

- unless @clusters.any?
  No Clusters

- @clusters.each do |cluster|
  %div[cluster]
    = link_to cluster.name, cluster
    == (#{cluster.current_status})

= link_to "Add Cluster", [:new, @project, :cluster]
