- content_for :title, @project.name

%h3= yield :title

%h4 Latest Builds

- @builds.each do |build|
  = link_to build.identifier, build
  on
  = link_to build.branch_name, build.branch
  == (#{build.status})

%h4 Latest Branches

- @branches.each do |branch|
  = link_to branch.name, branch
  == (#{branch.current_status})

%h4 Clusters

- if @clusters.any?
  - @clusters.each do |cluster|
    = link_to cluster.name, cluster
    == (#{cluster.current_status})

= link_to "Add Cluster", [:new, @project, :cluster]
